*{
  padding: 0%;
  margin: 0%;
}
$colorPincipal: rgba(255, 90, 90, 0.877);
$colorSecundario: rgba(93, 116, 143, 0.877);
$letraEstilo:'Roboto', sans-serif;
$colorTexto: rgb(235, 235, 235);

.fondo{
  background-color: $colorSecundario;
}
.fondo-2{
 background-color: $colorPincipal;
}
.fondo-3{
 background-color: rgba($color: #000000, $alpha: 0.0)
}
a {
  text-decoration: none;
}

ul, ol{
  list-style-type: none;
}

@mixin texto($familia,$medida,$estilo,$grosor,$color ){
 font-family: $familia;
 font-size: $medida;
 font-style: $estilo;
 font-weight: $grosor;
 color: $color;
}

li, p, a, input {
 @include texto($letraEstilo, 16px,   normal, 400, $colorTexto);
 @media (min-width:992px){
   @include texto($letraEstilo, 22px, normal, 500, $colorTexto);
 }
}
p{
  margin-bottom: 0;
}
@for $i from 1 through 6{
  h#{$i} {
    @include texto($letraEstilo, 80px - $i *15, normal, 600 / $i *2, $colorTexto);
    @media (max-width:992px){
     @include texto($letraEstilo, 35px, normal, 400, $colorTexto);
    }
  }
}

@for $i from 1 through 10{
  .mar-#{$i} {
    margin: 4px * $i;
  }
}

@for $i from 1 through 10{
   .p-#{$i} {
     padding: 5px * $i;
     @media (max-width:992px){
       padding: 2px * $i;
     }
   }
}

@for $i from 1 through 10{
   .plef-#{$i} {
     padding-left: 10px * $i;
   }
}

@for $i from 1 through 10{
   .ptop-#{$i} {
     padding-top: 10px * $i;
   }
}

@for $i from 1 through 10{
  .font-#{$i} {
    font-size: 5px * $i;
    @media (max-width:992px){
     font-size: 3px * $i;
    }
  }
}
.marcoAnimado {
    border-style: solid;
    border-color: $colorSecundario;
    border-width: 5px;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    transition: 1s;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    &:hover{
     border-color: $colorPincipal;
     border-width: 8px;
    }
  }
  